body {
	font-family: 'Muli', sans-serif;


	.main-header {
		height: 120px;
		border-bottom: 1px solid;



		.top-left-header {
			height: 124px;
			width: 500px;
			margin-top: 10px;
			float: left;

			#kev-top-left {
				height: 100px;
				border-radius: 50%;
				float: left;

				.h1-name {
					font-weight: bold;
					font-size: 32px;
					margin-top: 36px;
					margin-left: 21px;
					float: left;
				}
			}

		}



		.top-right-menu {
			width: 400px;
			float: right;

			.head-li {
				display: inline-flex;
				margin: 45px 10px;
				float: right;

				.head-a {
					color: black;
					text-decoration: none;
					&:hover {
						font-size: 15px;
					}
				}

				.head-touch {
					color: #000;
					&:hover {
						font-size: 15px;
					}
				}
			}
		}

	}

	#who-i-am {
		text-decoration: none;
		.who {
			background-color: slategray;
			color: white;
			padding: 5px 10px;
			margin-top: 20px;
			font-size: 47px;
			&:hover {
				background-color: slategray;
				opacity: 0.80;
			}
		}
		.who-desc {
			width: 800px;
			font-size: 23px;
			line-height: 37px;
			margin-top: 20px;
			text-align: center;
		}
	}

}